camera =
{
    resolution = { width = 1280, height = 720 };
    position = { x = 0.0, y = -7.0, z = 2.5 };
    rotation = { x = 0.0, y = 0.0, z = 1.0 };
    fieldOfView = { angle = 50.0 };
    background = { r = 0.9, g = 0.6, b = 0.2 };
    origin =  { x = 0.0, y = 3.0, z = 0.7 }; 
    focus = { distance = 0.0, other = 10.0 };
    spp = { rate = 100.0 };
    depth = { max = 15.0 };
    ambient = { scale = 1.0 };
}

primitives =
{
    planes = (
        # primitive plane N= 0 0 1 R= 0 (Le sol à Z=0)
        {
            pos = { x = -50.0, y = -50.0, z = 0.0 }, 
            dir = { x = 100.0, y = 0.0, z = 0.0 }, 
            axis = { x = 0.0, y = 100.0, z = 0.0 }, 
            material = "image", 
            texture = "assets/brown.bmp",
            color = { r = 1.0, g = 1.0, b = 1.0 }
        },
        # primitive plane N= 0 -1 0 R= -8 (Le mur du fond à Y=8)
        {
            pos = { x = -50.0, y = 8.0, z = -50.0 }, 
            dir = { x = 100.0, y = 0.0, z = 0.0 }, 
            axis = { x = 0.0, y = 0.0, z = 100.0 }, 
            material = "image", 
            texture = "assets/blue.bmp",
            color = { r = 1.0, g = 1.0, b = 1.0 }
        },
        # primitive plane N= 1 0 0 R= -5 (Le mur de gauche à X=-5)
        { 
            pos = { x = -5.0, y = -50.0, z = -50.0 }, 
            dir = { x = 0.0, y = 100.0, z = 0.0 }, 
            axis = { x = 0.0, y = 0.0, z = 100.0 }, 
            material = "solid", 
            color = { r = 0.8, g = 0.68, b = 0.48 } 
        },
        # primitive plane N= -1 0 0 R= -8 (Le mur de droite à X=8)
        { 
            pos = { x = 8.0, y = -50.0, z = -50.0 }, 
            dir = { x = 0.0, y = 100.0, z = 0.0 }, 
            axis = { x = 0.0, y = 0.0, z = 100.0 }, 
            material = "solid", 
            color = { r = 0.8, g = 0.68, b = 0.48 } 
        },
        # primitive square O= 0 7.8 2.2 Dx= 2.5 0 0 Dy= 0 0 1.8 (Le miroir)
        {
            pos = { x = 0.0, y = 7.8, z = 2.2 }, 
            dir = { x = 2.5, y = 0.0, z = 0.0 }, 
            axis = { x = 0.0, y = 0.0, z = 1.8 }, 
            material = "metal", 
            color = { r = 0.6, g = 0.45, b = 0.15 },
            fuzz = 0.0 
        }
    )

    cylinders = (
        { base = { x = -3.0, y = -1.0, z = 0.0 }, top = { x = -3.0, y = -1.0, z = 4.0 }, r = 0.45, material = "metal", color = { r = 0.9, g = 0.75, b = 0.3 }, fuzz = 0.1 },
        { base = { x = 3.0, y = -1.0, z = 0.0 }, top = { x = 3.0, y = -1.0, z = 4.0 }, r = 0.45, material = "metal", color = { r = 0.9, g = 0.75, b = 0.3 }, fuzz = 0.1 },
        { base = { x = -3.0, y = 4.0, z = 0.0 }, top = { x = -3.0, y = 4.0, z = 4.0 }, r = 0.45, material = "metal", color = { r = 0.9, g = 0.75, b = 0.3 }, fuzz = 0.1 },
        { base = { x = 3.0, y = 4.0, z = 0.0 }, top = { x = 3.0, y = 4.0, z = 4.0 }, r = 0.45, material = "metal", color = { r = 0.9, g = 0.75, b = 0.3 }, fuzz = 0.1 },
        { base = { x = 0.0, y = 1.5, z = 0.0 }, top = { x = 0.0, y = 1.5, z = 0.18 }, r = 1.5, material = "image", texture = "assets/brown.bmp", color = { r = 1.0, g = 1.0, b = 1.0 }, fuzz = 0.0 }
    )

    spheres = (
        { x = 0.0, y = 1.5, z = 1.2, r = 1.2, material = "glass", color = { r = 1.0, g = 1.0, b = 1.0 }, density = 1.6, fuzz = 0.0 },
        { x = -1.8, y = 0.0, z = 0.45, r = 0.45, material = "metal", color = { r = 1.0, g = 0.82, b = 0.25 }, fuzz = 0.05 },
        { x = 2.0, y = 0.5, z = 0.35, r = 0.35, material = "solid", color = { r = 0.7, g = 0.08, b = 0.05 }, fuzz = 0.0 },
        { x = -1.5, y = 3.5, z = 0.5, r = 0.5, material = "image", texture = "assets/marble.bmp", color = { r = 1.0, g = 1.0, b = 1.0 }, fuzz = 0.0 }, 
        { x = 1.5, y = 3.5, z = 0.5, r = 0.5, material = "image", texture = "assets/estuary.bmp", color = { r = 1.0, g = 1.0, b = 1.0 }, fuzz = 0.0 }
    )
}

lights =
{
    point = (
        { shape = "sphere", x = 4.0, y = 2.0, z = 6.0, r = 0.6, color = { r = 35.0, g = 20.0, b = 8.0 }, fuzz = 0.0 },
        { shape = "sphere", x = -4.5, y = -3.0, z = 4.0, r = 0.2, color = { r = 1.5, g = 2.0, b = 3.5 }, fuzz = 0.0 },
        { shape = "sphere", x = 0.0, y = 0.0, z = 1.5, r = 0.2, color = { r = 0.8, g = 0.6, b = 0.3 }, fuzz = 0.0 }
    );
};
