camera =
{
   resolution = { width = 500, height = 300 };
   position = { x = 0.0, y = 0.0, z = 9.0 };
   rotation = { x = 0.0, y = 1.0, z = 0.0 };
   fieldOfView = { angle = 70.0 }; # In degree
   background = { r = 0.70, g = 0.8, b = 1.0 };
   origin =  { x = 0.0, y = 0.0, z = 0.0 };
   focus = { distance = 0.0, other = 15.0 };
   spp = { rate = 100.0 };
   depth = { max = 50.0 };
   ambient = { scale = 1.0 };
}

primitives =
{
    #spheres = (
    #    { x = 0.0, y = 0.0, z = 0.0, r = 2.0, material = "checker", color = {r = 0.0, g = 1.0, b = 0.0}, color2 = {r = 0.0, g = 0.5, b = 1.0} ,fuzz = 4.0, rotation = { angle = 20.0, type = "z" }, translation = { x = 3.5, y = 0, z = 2.0 }},
    #)
    #cylinders = (
    #    { base = { x = 0.0, y = -5.0, z = 1.0 } top = { x = 0.0, y = 1.5, z = 1.5 }, r = 0.5, material = "metal", color = {r = 1.0, g = 0.0, b = 0.0}, fuzz = 0.0 }
    #)
    #cones = (
    #    { x = 0.0, y = 0.0, z = -1.0, r = 1.0, h = 0.5, material = "metal", color = {r = 0.0, g = 1.0, b = 0.0}, fuzz = 0.0 }
    #)
    #cubes = (
    #    { base = {x = 3.0, y = 0.0, z = 5.0}, top = {x = 1.5, y = 1.5, z = 6.5}, material = "metal", color = {r = 0.0, g = 0.5, b = 1.0}, fuzz = 1.0, rotation = { angle = 40.0, type = "y" }, translation = { x = -5.0, y = 0, z = 0.0 } }
    #)
    #triangles = (
    #    { down = {x = 0.0, y = 5.0, z = 9.0}, left = {x = 10.0, y = 5.0, z = 9.0}, right = {x = -10.0, y = 0.0, z = 9.0}, material = "metal", color = {r = 0.0, g = 0.5, b = 1.0}, fuzz = 0.5 }
    #)
    planes = (
        { pos = {x = -3.0, y = -2.0, z = 5.0}, dir = {x = 0.0, y = 0.0, z = -4.0}, axis = {x = 0.0, y = 4.0, z = 0.0}, material = "solid", color = {r = 1.0, g = 0.2, b = 0.2} },
        { pos = {x = 3.0, y = -2.0, z = 1.0}, dir = {x = 0.0, y = 0.0, z = 4.0}, axis = {x = 0.0, y = 4.0, z = 0.0}, material = "solid", color = {r = 0.2, g = 0.2, b = 1.0} },
        { pos = {x = -2.0, y = 3.0, z = 1.0}, dir = {x = 4.0, y = 0.0, z = 0.0}, axis = {x = 0.0, y = 0.0, z = 4.0}, material = "solid", color = {r = 1.0, g = 0.5, b = 0.0} },
        { pos = {x = -2.0, y = -3.0, z = 5.0}, dir = {x = 4.0, y = 0.0, z = 0.0}, axis = {x = 0.0, y = 0.0, z = -4.0}, material = "solid", color = {r = 0.2, g = 0.8, b = 0.8} }
    )
    pyramids = (
        { top = {x = 0.0, y = 3.0, z = 0.0}, basis1 = {x = 3.0, y = 0.0, z = 3.0}, basis2 = {x = -3.0, y = 0.0, z = 3.0}, basis3 = {x = -3.0, y = 0.0, z = -3.0}, basis4 = {x = 3.0, y = 0.0, z = -3.0}, material = "solid", color = {r = 0.5, g = 1.0, b = 0.0}, rotation = { angle = -20.0, type = "z" }}
    )
}

lights =
{
    #! maybe useless
    point = (
        { shape = "sphere", x = 1.0, y = 1.0, z = 2.0, r = 0.2, color = {r = 15.0, g = 15.0, b = 15.0}, fuzz = 0.0 },
    );
};
